<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="https://vensersjournal.com"><span class="navbar-brand">Venser's Journal</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class='nav-item nav-link' href="/MH1-M20">CR</a>
        <a class='nav-item nav-link' href="/ipg">IPG</a>
        <a class='nav-item nav-link' href="/mtr">MTR</a>
        <a class='nav-item nav-link' href="/archives">Archives</a>
        <a class='nav-item nav-link' href="/changelog">Changelog</a>
        <a class='nav-item nav-link' href="/about">About</a>
    </div>
  </nav>
