<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="https://vensersjournal.com"><span class="navbar-brand">Venser's Journal</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <li class='nav-item dropdown'>
            <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                Diffs
            </a>
            <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
                <a class='nav-item nav-link' href="/ZNR-CMR">Comprehensive Rules</a>
                <a class='nav-item nav-link' href="/ipg">Infraction Procedure Guide</a>
                <a class='nav-item nav-link' href="/mtr">Magic Tournament Rules</a>
            </div>
        </li>
        <a class='nav-item nav-link' href="/archives">Archives</a>
        <a class='nav-item nav-link' href="/100">Hyperlinked Rules</a>
        <a class='nav-item nav-link' href="/changelog">Changelog</a>
        <a class='nav-item nav-link' href="https://api.vensersjournal.com/docs">API</a>
        <a class='nav-item nav-link' href="/about">About</a>
        <a class='nav-item nav-link'>
        
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" value="7W6RH9WA3SAYY" />
                <button type="submit" name="submit_param" value="submit_value" style="background: none;
  border: none;
  cursor: pointer;" class="nav-item nav-link">
                    Donate
                </button>
            </form>
        </a>
    </div>
  </nav>
