@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

:root {
	--header-bg: #150B00;
	--muted-color: #A6A99D;
}

table {
	margin: 0 auto;
	width: 75%;
}

tr, td {
	border: none;
	padding: 7px 14px;
}

h2 {
	font-weight: bold;
	font-size: 22px;
	padding: 5px;
}

.new {
	font-weight: bold;
	background: var(--new-color);
	color: var(--heavy-color);
}

ul {
	list-style: none;
}

.container-fluid > div > ul > li::before {
	content: '•';
	color: #000000;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

ul > .fix::before {
	content: '•';
	color: var(--new-color);
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

ol {
	list-style: none;
	counter-reset: li;
}

ol > li::before {
	content: counter(li);
	color: #000000;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

ol > li {
	counter-increment: li;
}

ol > .fix::before {
	color: var(--new-color);
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.new-section > ol > li::before {
	color: var(--heavy-color);
}

h2 {
	cursor: pointer;
	color: var(--heavy-color);
	background-color: var(--header-bg);
	border-radius: 0 30px 0 30px;
	text-indent: .5em;
}

.removed {
	text-decoration: line-through;
}

.new-section {
	background-color: var(--new-color);
	color: var(--heavy-color);
	font-weight: bold;
}

h2:after {
	font-family:'FontAwesome';
  content:"\f077";
  float: right;
  margin-right: 15px;
  color: inherit;
}

h2.collapsed:after {
    /* symbol for "collapsed" panels */
    content:"\f078";
}