th {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  text-shadow: 1px 1px var(--black);
  font-size: 1.728rem;
  border-radius: 0 2rem 0 2rem;
  padding: 1rem;
}

tr {
  border-bottom: 1px solid var(--black);
  vertical-align: middle;
}

tr:first-child, :last-child {
  border-bottom: none;
}

td {
  word-break: break-word;
  padding: 1.2rem;
}

#oldHeader {
  color: var(--red);
}

#newHeader {
  color: var(--green);
}

.old {
  text-decoration: line-through;
  color:var(--red);
}

.new {
  font-weight: bold;
  color: var(--white);
  background: var(--green);
}

.remove {
  color: var(--red);
}

.add {
  color: var(--green);
}
