th {
  text-align: center;
  font-size: 22px;
  border-radius: 0 30px 0 30px; 
}

tr {
  border-bottom: 1px solid var(--black);
  vertical-align: middle;
}

tr:first-child, :last-child {
  border-bottom: none;
}

td {
  padding: 1.2em;
}

#oldHeader {
  color: var(--cream);
  background-color: var(--red);
}

#newHeader {
  color: var(--cream);
  background-color: var(--green);
}

.old {
  font-weight: bold;
  color: var(--cream);
  background: var(--red);
}

.new {
  font-weight: bold;
  background: var(--green);
  color: var(--cream);
  background: var(--green);
}

.remove {
  color: var(--red);
}

.add {
  color: var(--green);
}
