.offset {
  margin: 12%;
}

.error {
  font-family: 'Charm', cursive;
}

.spooky {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px black;
  mix-blend-mode: multiply;
}

hr {
  border: 0; 
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 75%;
}

.set-heading {
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--black);
}

.offset a {
  text-decoration: none;
}
