.offset {
  margin: 12%;
}

.cursive {
  font-family: 'Charm', cursive;
  font-size: 2rem;
  line-height: 2.4rem;
}

.spooky {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px black;
  mix-blend-mode: multiply;
}

.set-heading {
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--black);
}

.offset a {
  text-decoration: none;
}
