.cursive {
  font-family: 'Charm', cursive;
  font-size: 2rem;
  line-height: 2.4rem;
}

.spooky {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px black;
  mix-blend-mode: multiply;
}

.set-heading {
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--black);
}

li a {
  font-size:1.728rem;
  color: var(--black);
  font-family:"Oswald", sand-serif;
}

li a:hover {
  color: var(--black);
}
