<!DOCTYPE html>
  <head>
    <% include ../../partials/head %>
  </head>

  <header>
    <% include ../../partials/header %>
    <link href="/public/assets/stylesheets/docs.css" rel="stylesheet"/>
    <script type="text/javascript" src="/public/assets/scripts/docs.js" charset="utf-8"></script>
  </header>

  <body onload='findNewStuff()'>
    <div class='container-fluid'>
      <h2 class='text-center'>IPG - 5 Oct, 2018 - Guilds of Ravnica</h2>

      <h3 id='1-header' data-toggle='collapse' data-target='#1'>1. General Philosophy</h3>

      <div id='1' class='collapse'>
        <p>Judges are neutral arbiters and enforcers of policy and rules. A judge shouldn’t intervene in a 
              game unless they believe a rules violation has occurred, a player with a concern or question 
              requests assistance, or the judge wishes to prevent a situation from escalating. Judges don’t stop 
              play errors from occurring, but instead deal with errors that have occurred, penalize those who 
              violate rules or policy, and promote fair play and sporting conduct by example and diplomacy. 
              Judges may intervene to prevent or preempt errors occurring outside of a game. Knowledge of a 
              player’s history or skill does not alter an infraction, but it may be taken into account during an 
              investigation.</p>

        <p>The purpose of a penalty is to educate the player not to make similar mistakes in the future. This 
              is done through both an explanation of where the rules or policies were violated and a penalty to 
              reinforce the education. Penalties are also for the deterrence and education of every other player 
              in the event and are also used to track player behavior over time.</p>

        <p>If a minor violation is quickly handled by the players to their mutual satisfaction, a judge does 
              not need to intervene. If the players are playing in a way that is clear to both players, but might 
              cause confusion to an external observer, judges are encouraged to request that the players make 
              the situation clear, but not assess an infraction or issue any penalty. In both these situations, the 
              judge should ensure that the game progresses normally. More significant violations are addressed 
              by first identifying what infraction applies, then proceeding with the corresponding instructions.</p>

        <p>Only the Head Judge is authorized to issue penalties that deviate from these guidelines. The 
              Head Judge may not deviate from this guide’s procedures except in significant and exceptional 
              circumstances or a situation that has no applicable philosophy for guidance. Significant and 
              exceptional circumstances are rare—a table collapses, a booster contains cards from a different 
              set, etc. The Rules Enforcement Level, round of the tournament, age or experience-level of the 
              player, desire to educate the player, and certification level of the judge are NOT exceptional 
              circumstances. If another judge feels deviation is appropriate, they must consult with the Head 
              Judge.</p>

        <p>Judges are human and make mistakes. When a judge makes a mistake, they should acknowledge 
              the mistake, apologize to the players, and fix it if it is not too late. If a member of the tournament 
              staff gives a player erroneous information that causes them to commit a violation, the Head 
              Judge is authorized to downgrade the penalty. For example, a player asks a judge whether a card 
              is legal for a format and is told yes. When that player’s deck is found to be illegal because of 
              these cards, the Head Judge applies the normal procedure for fixing the decklist, but may 
              downgrade the penalty to a Warning because of the direct error of the judge. <span class='new'>If a player 
              clearly acts on erroneous information provided by a judge during the game, the Head Judge may 
              consider a backup to the point of the action taken, even if that action did not lead to a violation.</span></p>
      </div>

      <hr>

      <h3 id='11-header' data-toggle='collapse' data-target='#11'>1.1 Definition of Penalties</h3> 

      <div id='11' class='collapse'>
        <h5>Warning</h5>

        <p>A Warning is an officially tracked penalty. Warnings are used in situations of incorrect play 
              when a small amount of time is needed to implement the corrective procedure. The purpose of a 
              Warning is to alert judges and players involved that a problem has occurred and to keep a 
              permanent record of the infraction in the DCI Penalty Database. A time extension should be 
              issued if the ruling has taken more than a minute.</p> 

        <h5>Game Loss </h5>

        <p>A Game Loss ends the current game immediately and the player who committed the infraction is 
              considered to have lost the game for the purpose of match reporting. The player receiving a 
              Game Loss chooses whether to play or draw in the next game of that match, if applicable. If a 
              Game Loss is issued before the match begins, neither player in that match may use sideboards (if 
              the tournament uses them) for the first game they play.</p>

        <p>Game Losses are applied immediately if the game is still ongoing, or to the player’s next game if 
              it is not, unless otherwise specified. If simultaneous Game Loss penalties are issued to each 
              player, they are recorded, but do not affect the match score.</p>

        <h5>Match Loss</h5> 

        <p>A Match Loss is a severe penalty that is usually issued when the match itself has been 
              compromised. </p> 

        <p>Match Losses are applied to the match during which the offense occurred unless the match has 
              already ended, in which case the penalty will be applied to the player’s next match.  </p>

        <h5>Disqualification</h5>

        <p>A Disqualification is issued for activity that damages the integrity of a tournament as a whole or 
              for severe unsporting conduct. </p>

        <p>The recipient of a Disqualification does not need to be a player in the tournament. They may be a 
              spectator or other bystander. If this happens, they must be entered into the tournament in 
              Wizards Event Reporter (“WER”) so that they may be disqualified and reported to the DCI.</p>

        <p>Disqualification can occur without proof of action so long as the Head Judge determines 
              sufficient information exists to believe the tournament’s integrity may have been compromised. 
              It is recommended that the Head Judge’s report reflect this fact.</p> 

        <p>When this penalty is applied, the player loses their current match and is dropped from the 
              tournament. If a player has already received prizes at the time they are disqualified, that player 
              may keep those prizes but does not receive any additional prizes or awards they may be due. A 
              player that is disqualified from a tournament does not receive Planeswalker Points or 
              Professional Points for that tournament.</p> 

        <p>When a player is disqualified during a tournament, they are removed from the tournament and do 
              not take up a place in the standings. This means that all players in the tournament will advance 
              one spot in the standings and are entitled to any prizes the new standing would offer. If the 
              Disqualification takes place after a cut is made, no additional players advance in place of the 
              disqualified player although they do move up a spot in the standings. For example, if a player is 
              disqualified during the quarterfinal round of a Preliminary Pro Tour Qualifier, the former 9th 
              place finisher does not advance into the single elimination top 8, but they do move into 8th place 
              in the standings.</p> 

        <p>More information about the Disqualification process may be found at 
              <a href='http://blogs.magicjudges.org/o/disqualification-process/'>http://blogs.magicjudges.org/o/disqualification-process/</a>.</p>
      </div>

      <hr>

      <h3 id='12-header' data-toggle='collapse' data-target='#12'>1.2 Applying Penalties</h3> 

      <div id='12' class='collapse'>
        <p>Penalties are included with the tournament report so that a permanent record can be kept in the 
                DCI Penalty Database. Additionally, any penalty of Game Loss or higher should be reported to 
                the Head Judge, and it is recommended that only the Head Judge issue penalties of this nature 
                (with the exception of <a href='#31-header' onclick="linkAndExpand('#31')">Tardiness</a> (3.1) 
                and <a href='#34-header' onclick="linkAndExpand('#34')">Decklist Problems</a> (3.4)).</p>  

        <p>Being enrolled in the tournament is not a requirement to receive a penalty. Although these 
              guidelines refer to players, other people in the venue, such as spectators, staff, or judges may be 
              enrolled into (and dropped from) the tournament in order to receive a penalty. Penalties are still 
              issued even if a player drops from the tournament before it would take effect.</p> 

        <p>Any time a penalty is issued, the judge must explain the infraction, the procedure for fixing the 
              situation, and the penalty to all players involved. If the Head Judge chooses to deviate from the 
              Infraction Procedure Guide, the Head Judge is expected to explain the standard penalty and the 
              reason for deviation.</p> 

        <p>Some infractions include remedies to handle the offense beyond the base penalty. These 
              procedures exist to protect officials from accusations of unfairness, bias, or favoritism. If a judge 
              makes a ruling that is consistent with quoted text, then the complaints of a player shift from 
              accusation of unfairness by the judge to accusations of unfair policy. Deviations from these 
              procedures may raise accusations against the judge from the player(s) involved, or from those 
              who hear about it. These procedures do not, and should not, take into account the game being 
              played, the current situation that the game is in, or who will benefit strategically from the 
              procedure associated with a penalty. While it is tempting to try to “fix” game situations, the 
              danger of missing a subtle detail or showing favoritism to a player (even unintentionally) makes 
              it a bad idea.</p>  

        <p>If an error leads to multiple related infractions, only issue one with the most severe penalty.</p>
      </div>

      <hr>

      <h3 id='13-header' data-toggle='collapse' data-target='#13'>1.3 Randomizing a Library</h3>

      <div id='13' class='collapse'>
        <p>The remedy for some infractions in this document includes shuffling the randomized portion of 
              the library. This requires first determining whether any portion of the library is non-random, such 
              as cards that have been manipulated on the top or bottom of the library, and separating those. 
              Check with both players to verify this, and check the graveyard, exile, and battlefield for library 
              manipulation cards, such as Brainstorm and cards with the scry mechanic. Once the library has 
              been shuffled, any manipulated cards are returned to their correct locations.</p> 

        <p>Shuffles performed by a judge as part of a remedy are not considered shuffles for game purposes.</p>
      </div>

      <hr>

      <h3 id='14-header' data-toggle='collapse' data-target='#14'>1.4 Backing Up</h3>

      <div id='14' class='collapse'>
        <p>Some infractions in this document permit the judge to consider the possibility of a backup. Due 
              to the amount of information that may become available to players and might affect their play, 
              backups are regarded as a solution of last resort, only applied in situations where leaving the
              game in the current state is a substantially worse solution. A good backup will result in a 
              situation where the gained information makes no difference and the line of play remains the 
              same (excepting the error, which has been fixed). This means limiting backups to situations with 
              minimal decision trees.</p> 

        <p>Only the Head Judge may authorize a backup. At large tournaments, they may choose to delegate 
              this responsibility to Team Leaders.</p> 

        <p>To perform a backup, each individual action since the point of the error is reversed, starting with 
              the most recent ones and working backwards. Every action must be reversed; no parts of the 
              sequence should be omitted or reordered. If the identity of a card involved in reversing an action 
              is unknown to one of the players (usually because it was drawn), a random card is chosen from 
              the possible candidates. Actions that caused a player to learn the identity of cards at a specific 
              location in the library are reversed by shuffling those cards into the random portion of the library 
              unless they were subsequently drawn; cards being returned to the library as part of the backup 
              should not be shuffled at that stage if their identity was known to only one player.</p>  

        <p>Backups involving random/unknown elements should be approached with extreme caution, 
              especially if they cause or threaten to cause a situation in which a player will end up with 
              different cards than they would once they have correctly drawn those cards. For example, 
              returning cards to the library when a player has the ability to shuffle their library is not 
              something that should be done except in extreme situations.</p> 

        <p>Some remedies state a simple backup may be performed. A simple backup is backing up the last 
              action completed (or one currently in progress) and is sometimes used to make another portion of 
              the prescribed remedy smoother. A simple backup should not involve any random elements.</p>
      </div>

      <hr>

      <h3 id='15-header' data-toggle='collapse' data-target='#15'>1.5 Sets</h3>

      <div id='15' class='collapse'>
        <p>Some infractions in this document refer to “sets” of cards. A set is a physically distinct group of 
              cards defined by a game rule or effect. It may correspond to a specific zone, or may only 
              represent a part of a zone. A set may consist of a single card.</p>
         
        <p>Cards are considered to be part of a set until they join another set. There is no in-between state 
              and any card that has not yet been seen is part of the previous set (unless the new set is hidden).</p>
      </div>

      <hr>

      <h3 id='2-header' data-toggle='collapse' data-target='#2'>2. Game Play Errors</h3>

      <div id='2' class='collapse'>
        <p>Game Play Errors are caused by incorrect or inaccurate play of the game such that it results in 
              violations of the Magic Comprehensive Rules. Many offenses fit into this category and it would 
              be impossible to list them all. The guide below is designed to give judges a framework for 
              assessing how to handle a Game Play Error.</p>
         
        <p>Most Game Play Error infractions are assumed to have been committed unintentionally. If the 
              judge believes that the error was intentional, they should first consider whether an 
              <a href='#48-header' onclick="linkAndExpand('#48')">Unsporting Conduct — Cheating</a> 
              infraction has occurred.</p>
          
        <p>With the exception of Failure to Maintain Game State, which is never upgraded, the third or 
              subsequent penalty for a Game Play Error offense in the same category is upgraded to a Game 
              Loss. For multi-day tournaments, the penalty count for these infractions resets between 
              <span class='removed'>cuts</span> <span class='new'>days</span>.</p>
      </div>

      <hr>

      <h3 id='21-header' data-toggle='collapse' data-target='#21'>2.1 Game Play Error - Missing Trigger</h3>

      <div id='21' class='collapse'>
        <h4>No Penalty</h4>

        <h5>Definition</h5>

        <p>A triggered ability triggers, but the player controlling the ability doesn’t demonstrate awareness 
              of the trigger’s existence the first time that it would affect the game in a visible fashion.</p> 

        <p>The point by which the player needs to demonstrate this awareness depends on the impact that 
              the trigger would have on the game:</p>

        <ol>
          <li>A triggered ability that requires its controller to choose targets (other than 'target 
                  opponent'), modes, or other choices made when the ability is put onto the stack: The 
                  controller must announce those choices before they next pass priority.</li>
          <li>A triggered ability that causes a change in the visible game state (including life 
                  totals) or requires a choice upon resolution: The controller must take the appropriate 
                  physical action or acknowledge the specific trigger before taking any game actions (such 
                  as casting a sorcery spell or explicitly taking an action in the next step or phase) that can 
                  be taken only after the triggered ability should have resolved. Note that passing priority, 
                  casting an instant spell or activating an ability doesn’t mean a triggered ability has been 
                  forgotten, as it could still be on the stack.</li>
          <li>A triggered ability that changes the rules of the game: The controller must 
                  acknowledge the trigger or stop an opponent who tries to take any resulting illegal action.</li>
          <li>A triggered ability that affects the game state in non-visible ways: The controller 
                  must make the change known by the first time the change has an effect on the visible 
                  game state.</li>
        </ol>

        <p>Once any of the above obligations has been fulfilled, further problems are treated as a 
              <a href='#25-header' onclick="linkAndExpand('#25')">Game Play Error — Game Rule Violation</a>.</p>

        <p>Triggered abilities that do nothing except create delayed triggered abilities automatically resolve 
              without requiring acknowledgment. Awareness of the resulting delayed trigger must be 
              demonstrated at the appropriate point. Triggered abilities that do nothing except create one or 
              more copies of a spell or ability (such as storm or cipher) automatically resolve, but awareness of 
              the resulting objects must be demonstrated using the same requirements as described above 
              (even though the objects may not be triggered abilities).</p>

        <p>If a triggered ability would have no impact on the game, it’s not an infraction to fail to 
              demonstrate awareness of it. For example, if the effect of a triggered ability instructs its 
              controller to sacrifice a creature, a player who controls no creatures isn’t required to demonstrate 
              awareness of the ability. Similarly, a player demonstrating awareness of an optional trigger with 
              no visible effect is assumed to have made the affirmative choice unless the opponent responds.</p>

        <p>Judges do not intervene in a missed trigger situation unless they intend to issue a Warning or 
              have reason to suspect that the controller is intentionally missing their triggered abilities.</p>

        <p>A player controlling another player is responsible for that player’s triggers in addition to their 
              own.</p>

        <h5>Examples </h5>

        <ol>
          <li>Knight of Infamy (a 2/1 creature with exalted) attacks alone. Its controller says “Take 
                  two.”</li>
          <li>A player forgets to remove the final time counter from a suspended spell and then draws 
                  a card during their draw step.</li>
          <li>A player casts Manic Vandal, then forgets its triggered ability by not choosing a target for 
                  it. They realize this only after casting another spell.</li>
          <li>A player forgets to exile the Angel token created by Geist of Saint Traft at end of combat. 
                  They realize the error when declaring blockers during the next turn.</li>
        </ol>

        <h5>Philosophy</h5>

        <p>Triggered abilities are common and invisible, so players should not be harshly penalized when 
              forgetting about one. Players are expected to remember their own triggered abilities; 
              intentionally ignoring one may be 
              <a href='#48-header' onclick="linkAndExpand('#48')">Unsporting Conduct — Cheating</a> 
              (unless the ability would have no impact on the game as described above). Even if an opponent 
              is involved in the announcement or resolution of the ability, the controller is still responsible 
              for ensuring the opponents make the appropriate choices and take the appropriate actions. Opponents 
              are not required to point out triggered abilities that they do not control, though they may do so if 
              they wish.</p>  

        <p>Triggered abilities are assumed to be remembered until otherwise indicated, and the impact on 
              the game state may not be immediately apparent. The opponent’s benefit is in not having to point 
              out triggered abilities, although this does not mean that they can cause triggers to be missed. If 
              an opponent requires information about the precise timing of a triggered ability or needs details 
              about a game object that may be affected by a resolved triggered ability, that player may need to 
              acknowledge that ability’s existence before its controller does. A player who makes a play that 
              may or may not be legal depending on whether an uncommunicated trigger has been 
              remembered has not committed an infraction; their play either succeeds, confirming that the 
              trigger has been missed, or is rewound.</p> 

        <p>Players may not cause triggered abilities controlled by an opponent to be missed by taking game 
              actions or otherwise prematurely advancing the game. During an opponent’s turn, if a trigger’s 
              controller demonstrates awareness of the trigger before they take an active role (such as taking
              an action or explicitly passing priority), the trigger is remembered. The Out-of-Order Sequencing 
              rules (MTR section 4.3) may also be applicable, especially as they relate to batches of actions or 
              resolving items on the stack in an improper order.</p> 

        <h5>Additional Remedy</h5> 

        <p>Three types of triggered abilities do not expire and resolve immediately if they are discovered:</p>

        <ul>
          <li>A triggered ability that specifies a default action associated with a choice made by the 
                  controller (usually "If you don't ..." or "... unless"). The opponent may choose not to 
                  resolve this trigger. Otherwise the default action must be chosen.</li>
          <li>An enters-the-battlefield trigger of an Aura that affects only the enchanted permanent and 
                  causes a visible change to that permanent.</li> 
          <li>A delayed triggered ability that changes the zone of one or more objects defined when the 
                  ability was created. For this trigger, the opponent chooses whether to resolve the ability 
                  the next time a player would get priority or when a player would get priority at the start 
                  of the next phase.</li> 
        </ul>

        <p>Abilities consisting of an action followed by “when you do” in the same ability are considered 
              communicated by the announcement of the action. This is most commonly the case for exert and 
              similar abilities.</p> 
        
        <p>If the ability was missed prior to the current phase in the previous turn, instruct the players to 
              continue playing. If the triggered ability created an effect whose duration has already expired, 
              instruct the players to continue playing.</p> 

        <p>If the triggered ability isn’t covered by the previous two paragraphs, the opponent chooses 
              whether the triggered ability is added to the stack. If it is, it’s inserted at the appropriate place on 
              the stack if possible or on the bottom of the stack. No player may make choices involving objects 
              that would not have been legal choices when the ability should have triggered. For example, if 
              the ability instructs a player to sacrifice a creature, that player can't sacrifice a creature that 
              wasn't on the battlefield when the ability should have triggered.</p>

        <h5>Upgrade</h5>

        <p>If the triggered ability is usually considered detrimental for the controlling player the 
              penalty is a Warning. The current game state is not a factor in determining this, though 
              symmetrical abilities (such as Howling Mine) may be considered usually detrimental or not 
              depending on who is being affected.</p>
      </div>

      <hr>

      <h3 id='22-header' data-toggle='collapse' data-target='#22'>2.2 Game Play Error - Looking at Extra Cards</h3> 

      <div id='22' class='collapse'>
        <h4>Warning</h4>

        <h5>Definition</h5>

        <p>A player takes an action that may have enabled them to see the faces of cards in a deck that they 
              were not entitled to see.</p>

        <p>This penalty is applied only once if one or more cards are seen in the same action or sequence of 
              actions.</p>

        <h5>Examples</h5>

        <ol>
          <li>A player accidentally reveals (drops, flips over) a card while shuffling their opponent's library.</li>
          <li>A player pulls up an extra card while drawing from their library.</li>
          <li>A player sees the bottom card of their deck when presenting it to their opponent for cutting/shuffling.</li>
        </ol>

        <h5>Philosophy</h5>

        <p>A player can accidentally look at extra cards easily and this infraction handles situations where a 
              dexterity or rules error has led to a player seeing cards in a library that they shouldn’t have. 
              Cards are considered to be in a library until they touch cards in another hidden set. Once those 
              cards have joined another hidden set, the infraction is handled as a 
              <a href='#23-header' onclick="linkAndExpand('#23')">Hidden Card Error</a> 
              or 
              <a href='#25-header' onclick="linkAndExpand('#25')">Game Rule Violation</a>.</p> 

        <p>Players should not use this penalty to get a “free shuffle” or to attempt to shuffle away cards they 
              don’t want to draw; doing so may be 
              <a href='#48-header' onclick="linkAndExpand('#48')">Unsporting Conduct — Cheating</a>. 
              Players also are not allowed to use this penalty as a stalling mechanism. The library is already 
              randomized, so shuffling in the revealed cards should not involve excessive effort.</p>

        <h5>Additional Remedy</h5> 

        <p>Shuffle any previously unknown cards into the random portion of the deck, then put any known 
              cards back in their correct locations.</p>
      </div>

      <hr>

      <h3 id='23-header' data-toggle='collapse' data-target='#23'>2.3 Game Play Error - Hidden Card Error</h3>

      <div id='23' class='collapse'>
        <h4>Warning</h4>

        <h5>Definition</h5>

        <p>A player commits an error in the game that cannot be corrected by only publicly available 
              information and does so without their opponent’s permission.</p>

        <p>This infraction only applies when a card whose identity is known to only one player is in a 
              hidden set of cards both before and after the error.</p>

        <p>This infraction does not apply to simple dexterity errors, such as when a card being pulled off the 
              library sticks to another card and is seen or knocked off the library. The cards themselves must 
              be part of a distinct set intended by the player.</p>

        <ol>
          <li>A player draws four cards after casting Ancestral Recall.</li>
          <li>A player scries two cards when they should only have scried one.</li>
          <li>A player resolves a Dark Confidant trigger, but forgets to reveal the card before putting it into their hand.</li>
          <li>A player has more cards in their hand than can be accounted for.</li>
          <li>A player casts Anticipate and picks up the top four cards of their library.</li>
          <li>A player, going first, draws for their turn.</li>
        </ol>

        <h5>Philosophy</h5>

        <p>Though the game state cannot be reversed to the ‘correct’ state, this error can be mitigated by 
              giving the opponent sufficient knowledge and ability to offset the error so that it is less likely to 
              generate advantage.</p>  

        <p>If cards are placed into a public zone, then their order is known and the infraction can be handled 
              as a <a href='#25-header' onclick="linkAndExpand('#25')">Game Rule Violation</a>. Order cannot be 
              determined from card faces only visible to one player unless the card is in a uniquely identifiable 
              position (such as on top of the library, or as the only card in hand.)</p> 

        <p>Be careful not to apply this infraction in situations where a publicly-correctable error 
              subsequently leads to an uncorrectable situation such as a Brainstorm cast using green mana. In 
              these situations, the infraction is based on that root cause.</p> 

        <p>Information about cards previously known by the opponent, such as cards previously revealed 
              while on the top of the library or by a previous look at the hand, may be taken into account while 
              determining the set of cards to which the remedy applies.</p> 

        <p>Always operate on the smallest set possible to remedy the error. This may mean applying the 
              remedy to only part of a set defined by an instruction. For example, if a player resolves Collected 
              Company, picks up three cards with one hand and then four cards with the other, the last drawn 
              set of four cards should be used for the remedy, instead of the full set of seven cards.</p>

        <h5>Additional Remedy</h5> 

        <p>In cases where the infraction was immediately followed by moving a card from the affected set 
              to a known location, such as by discarding, putting cards on top of the library, or playing a land, 
              a simple backup to the point just after the error may be performed.</p> 

        <p>If the set of cards that contained the problem no longer exists, there is no remedy to be applied.</p> 

        <p>If the error put cards into a set prematurely and other operations involving cards in the set should 
              have been performed first, the player reveals the set of cards that contains the excess and their 
              opponent chooses a number of previously-unknown cards. Put those cards aside until the point at 
              which they should have been legally added, then return them to the set.</p> 

        <p>If the error involves one or more cards that were supposed to be revealed, the player reveals the 
              set of cards that contains the unrevealed cards and their opponent chooses that many previously-
              unknown cards. Treat those as the cards that were ‘revealed’ and return them to the set that was 
              being selected from; the player then reperforms the action. If recreating the original selection set 
              and reperforming the action would be too disruptive, leave the selected cards in hand.</p> 

        <p>If a set affected by the error contains more cards than it is supposed to contain, the player reveals 
              the set of cards that contains the excess and their opponent chooses a number of previously-
              unknown cards sufficient to reduce the set to the correct size. These excess cards are returned to 
              the correct location. If that location is the library, they should be shuffled into the random portion 
              unless the owner previously knew the identity of the card/cards illegally moved; that many cards, 
              chosen by the opponent, are returned to the top of the library instead. For example, if a player 
              playing with Sphinx of Jwar Isle illegally draws a card, that card should be returned to the top of 
              the library.</p> 

        <h4>Upgrade</h4>

        <p>If a face-down card cast using a morph ability is discovered during the game to not 
              have a morph ability, the penalty is a Game Loss. If the player has one or more cards with a 
              morph ability in hand, has not added previously unknown cards to their hand since casting the 
              card found in violation, and has discovered the error themselves, the upgrade does not apply and 
              they may swap the card for a card with the morph ability in hand.</p>
      </div>

      <hr>

      <h3 id='24-header' data-toggle='collapse' data-target='#24'>2.4 Game Play Error - Mulligan Procedure Error</h3> 

      <div id='24' class='collapse'>
        <h4>Warning</h4>

        <h5>Definition</h5>

        <p>A player makes an error as part of the mulligan process. This infraction does not apply to errors 
              made once pre-game procedures are complete. “Scrying” for more than one card after taking a 
              mulligan is treated as a <a href='#23-header' onclick="linkAndExpand('#23')">Hidden Card Error</a>.</p> 

        <p>Trivial process errors that provide no advantage, such as declaring an intent to mulligan early, 
              are not an infraction. </p>

        <h5>Examples</h5>

        <ol> 
          <li>A player draws eight cards at the start of the game (instead of seven). </li>
          <li>A player draws seven cards at the start of the game (instead of six) after taking a 
                  mulligan. </li>
          <li>A player keeps their hand, scries, then mulligans again.</li> 
          <li>A player chooses to not take a mulligan then takes a mulligan after seeing their opponent 
                  choose to take a mulligan.</li> 
        </ol>

        <h5>Philosophy</h5>

        <p>Errors prior to the beginning of the game have a less disruptive option—a forced mulligan—that 
              is not available at any other point during the game. However, players should not be incentivized 
              to sit on the infraction until mulligan procedures are completed so that they can ‘discover’ the 
              error at a point where it becomes a <a href='#23-header' onclick="linkAndExpand('#23')">Hidden Card Error</a> 
              if they believe that is to their advantage. To encourage the offending player to report their error as early 
            as possible, they are given their choice of remedy before the game begins.</p>

        <p>If a player looks at the top card of their library after taking a mulligan, it is assumed that they 
              have chosen to keep their hand unless they make it very clear that they intend to mulligan again, 
              either verbally before looking or by picking up multiple cards from the top of their library.</p>

        <h5>Additional Remedy</h5>

        <p>If the player has too many cards in hand, they may choose to reveal their hand, and their 
              opponent chooses a card from it to be shuffled back into the library. If more than one excess card 
              was drawn (for example, eight cards drawn during a mulligan to 6) their opponent continues 
              removing cards until the correct number has been reached.</p> 

        <p>If cards are not removed from the hand this way (either due to an error that didn't lead to too 
              many cards, or by the player choosing not to reveal), that player takes an additional mulligan.</p>

        <p>Players may continue taking mulligans after the remedy has been completed.</p>
      </div>

      <hr>

      <h3 id='25-header' data-toggle='collapse' data-target='#25'>2.5 Game Play Error - Game Rule Violation</h3>

      <div id='25' class='collapse'>
        <h4>Warning</h4>

        <h5>Definition</h5>

        <p>This infraction covers the majority of game situations in which a player makes an error or fails to 
              follow a game procedure correctly. It handles violations of the Comprehensive Rules that are not 
              covered by the other Game Play Errors.</p>

        <h5>Examples</h5>

        <ul>
          <li>A player casts Wrath of God for 3W (actual cost 2WW).</li> 
          <li>A player does not attack with a creature that must attack each turn.</li> 
          <li>A player fails to put a creature with lethal damage into a graveyard and it is not noticed 
                  until several turns later.</li> 
          <li>A Phyrexian Revoker is on the battlefield that should have had a card named for it.</li> 
          <li>A player casts Brainstorm and forgets to put two cards back on top of their library.</li> 
        </ul>

        <h5>Philosophy</h5>

        <p>While Game Rule Violations can be attributed to one player, they usually occur publicly and 
              both players are expected to be mindful of what is happening in the game. It is tempting to try 
              and “fix” these errors, but it is important that they be handled consistently, regardless of their 
              impact on the game.</p>

        <h5>Additional Remedy</h5>

        <p>First, consider a simple backup (see <a href="#14-header" onclick="linkAndExpand('#14')">section 1.4</a>).</p>

        <p>If a simple backup is not sufficient and the infraction falls into one or more of the following 
              categories, and only into <span class='removed'>that category</span> <span class='new'>those categories</span> 
              perform the appropriate partial fix:</p>

        <ul>
          <li>If a player forgot to untap one or more <span class='removed'>objects</span> <span class='new'>permanents</span> 
                  at the start of their turn and it is still the same turn, untap them.</li>
          <li>If a player made an illegal choice (including no choice where required) for a static ability 
                  generating a continuous effect still on the battlefield, that player makes a legal choice.</li>  
          <li>If a player failed to draw cards, discard cards, or return cards from their hand to another 
                  zone, that player does so.</li>
          <li> If an object is in an incorrect zone either due to a required zone change being missed or 
                  due to being put into the wrong zone during a zone change, the identity of the object was 
                  known to all players, and it can be moved with only minor disruption to the current state 
                  of the game, put the object in the correct zone.</li>
          <li>If damage assignment order has not been declared, the appropriate player chooses that 
                  order.</li>
        </ul>

        <p>For each of these fixes, a simple backup may be performed beforehand if it makes applying the 
              fix smoother. Triggered abilities are generated from these partial fixes only if they would have 
              occurred had the action been taken at the correct time.</p>

        <p>Otherwise, a full backup may be considered or the game state may be left as is.</p>  

        <p>For most Game Play Errors not caught within a time that a player could reasonably be expected 
              to notice, opponents receive a 
              <a href='#26-header' onclick="linkAndExpand('#26')">Game Play Error — Failure to Maintain Game State</a>
              penalty. If the judge believes that both players were responsible for a Game Rule Violation, 
              such as due to the existence of replacement effects or a player taking action based on another 
              players instruction, both players receive a Game Play Error — Game Rule Violation. For example, 
              if a player casts Path to Exile on an opponent’s creature and the opponent puts the creature into 
              the graveyard, both players have committed this infraction.</p>
      </div>

      <hr>

      <h3 id='26-header' data-toggle='collapse' data-target='#26'>2.6 Game Play Error - Failure to Maintain Game State</h3>

      <div id='26' class='collapse'>
        <h4>Warning</h4>

        <h5>Definition</h5>

        <p>A player allows another player in the game to commit a Game Play Error and does not point it 
              out immediately. If a judge believes a player is intentionally not pointing out other players’ 
              illegal actions, either for their own advantage, or in the hope of bringing it up at a more 
              strategically advantageous time, they should consider an 
              <a href='#48-header' onclick="linkAndExpand('#48')">Unsporting Conduct — Cheating</a> 
              infraction. Not reminding an opponent about their triggered abilities is never Failure to Maintain 
              Game State nor Cheating.</p>

        <h5>Examples</h5>

        <ol>
           <li>A player’s opponent forgets to reveal the card searched for by Worldly Tutor. It is not 
                  noticed until the end of turn.</li> 
           <li>A player does not notice that their opponent has Armadillo Cloak on a creature with 
                  protection from green.</li>
        </ol>

        <h5>Philosophy</h5>

        <p>If an error is caught before a player could gain advantage, then the dangers of the ongoing game 
              state becoming corrupted are much lower. If the error is allowed to persist, at least some of the 
              fault lies with the opponent, who has also failed to notice the error.</p>
      </div>

      <hr>

      <h3 id='3-header' data-toggle='collapse' data-target='#3'>3. Tournament Errors</h3>

      <div id='3' class='collapse'>
        <p>Tournament errors are violations of the Magic Tournament Rules. If the judge believes that the 
              error was intentional, they should consider 
              <a href='#48-header' onclick="linkAndExpand('#48')">Unsporting Conduct — Cheating</a>.</p>

        <p>If a player violates the Magic Tournament Rules in a way that is not covered by one of the 
              infractions listed below, the judge should explain the appropriate procedure to the player, but not 
              issue a penalty. Continued or willful disregard of these rules may require further investigation.</p>

        <p>A second or subsequent Warning for a Tournament Error offense in the same category is 
              upgraded to a Game Loss. For multi-day tournaments, the penalty count for these infractions 
              resets between cuts.</p>
      </div>

      <hr>

      <h3 id='31-header' data-toggle='collapse' data-target='#31'>3.1 Tournament Error - Tardiness</h3>

      <div id='31' class='collapse'>
        <h4>Game Loss</h4>

        <h5>Definition</h5>

        <p>A player is not in their seat at the beginning of a round, or has not completed tasks assigned 
              within the time allocated. If a round begins before the previous round would have ended (due to 
              all players finishing early), tardiness does not apply until the scheduled end of the previous 
              round.</p>

        <p>If, before or during a match, a player requests and receives permission from a judge for a delay 
              for a legitimate task, such as a bathroom break or finding replacements for missing cards, that 
              player has up to 10 minutes to perform that task before they are considered tardy. If the player 
              takes more than 10 minutes, a Match Loss will be applied. Otherwise, no penalty will be applied 
              and a time extension given for the time taken.</p>

        <h5>Examples</h5>

        <ol>
            <li>A player arrives to their seat 5 minutes after the round begins.</li>
            <li>A player hands in their decklist after the time designated by the judge or organizer.</li>
            <li>A player loses their deck and cannot find replacement cards within the first 10 minutes of 
                    the round.</li>
            <li>A player sits at an incorrect table and plays the wrong opponent.</li>
        </ol>

        <h5>Philosophy</h5>

        <p>Players are responsible for being on time and in the correct seat for their matches, and for 
              completing registrations in a timely manner. The Tournament Organizer may announce that they 
              are giving the players some additional time before a penalty is issued. Otherwise, the penalty is 
              issued as soon as the round begins.</p>

        <h5>Additional Remedy</h5>

        <p>The players are given a time extension corresponding to the length of the tardiness.</p>

        <h5>Upgrade</h5>

        <p>A player not in their seat 10 minutes into the round will receive a Match Loss and will 
              be dropped from the tournament unless they report to the Head Judge or Scorekeeper before the 
              end of the round.</p>
      </div>

      <hr>

      <h3 id='32-header' data-toggle='collapse' data-target='#32'>3.2 Tournament Error - Outside Assistance</h3>

      <div id='32' class='collapse'>
        <h4>Match Loss</h4>

        <h5>Definition</h5>

        <p>A player, spectator, or other tournament participant does any of the following:</p>

        <ul>
          <li>Seeks play advice or <span class='removed'>hidden</span> <span class='new'>private</span> 
                  information about their match from others once they have sat for their match.</li>
          <li>Gives play advice or reveals <span class='removed'>hidden</span> <span class='new'>private</span> 
                  information to players who have sat for their match.</li>  
          <li>During a game, refers to notes (other than Oracle™ pages) made before the official 
                  beginning of the current match.</li>
        </ul>

        <p>These criteria also apply to any deck construction and draft portions of a limited tournament. 
              Additionally, no notes of any kind may be made during a draft. Some team formats have 
              additional communication rules that may modify the definition of this infraction.</p> 

        <p>Notes made outside the current match may only be referenced between games, and must have 
              been in the player’s possession since the beginning of the match.</p> 

        <h5>Examples</h5>

        <ol>
           <li>During a game, a player references play notes that were created before the tournament.</li>
           <li>A spectator points out the correct play to a player who had not solicited the information.</li>
        </ol>

        <h5>Philosophy</h5>

        <p>Tournaments test the skill of a player, not their ability to follow external advice or directions. 
              Any strategy advice, play advice, or construction advice from an external source is considered 
              outside assistance.</p> 

        <p>Visual modifications to cards, including brief text, that provide minor strategic information or 
              hints are acceptable and not considered notes. Detailed instructions or complex strategic advice 
              may not be written on cards. The Head Judge is the final arbiter on what cards and notes are 
              acceptable for a tournament. Spectators who commit this infraction may be asked to leave the 
              venue if they are not enrolled in the tournament.</p>

        <h5>Downgrade</h5>

        <p>If the information acquired is information that the player would have access to 
              between games, the penalty is a Game Loss.</p>
      </div>

      <hr>

      <h3 id='33 header' data-toggle='collapse' data-target='#33'>3.3 Tournament Error - Slow Play</h3>

      <div id='33' class='collapse'>
        <h4>Warning</h4>

        <h5>Definition</h5>

        <p>A player takes longer than is reasonably required to complete game actions. If a judge believes a 
              player is intentionally playing slowly to take advantage of a time limit, the infraction is 
              Unsporting Conduct — Stalling.</p>

        <p>It is also slow play if a player continues to execute a loop without being able to provide an exact 
              number of iterations and the expected resulting game state.</p>

        <h5>Examples</h5>

        <ol>
           <li>A player repeatedly reviews their opponent’s graveyard without any significant change in 
                  game state.</li> 
           <li>A player spends time writing down the contents of an opponent’s library while resolving 
                  Thought Hemorrhage. </li>
           <li>A player takes an excessive amount of time to shuffle their deck between games.</li> 
           <li>A player gets up from their seat to look at standings or goes to the bathroom without 
                  permission of an official.</li>
        </ol>

        <h5>Philosophy</h5>

        <p>All players have the responsibility to play quickly enough so that their opponents are not at a 
              significant disadvantage because of the time limit. A player may be playing slowly without 
              realizing it. A comment of “I need you to play faster” is often appropriate and all that is needed. 
              Further slow play should be penalized.</p>

        <h5>Additional Remedy</h5>

        <p>In the event that the match exceeds the time limit, two additional turns are added to the number 
              of additional turns played. This turn extension occurs before any end-of-match procedure can 
              begin and after any time extensions that may have been issued.</p> 

        <p>No additional turns are awarded if the match is already in additional turns, though the Warning 
              still applies.</p>
      </div>

      <hr>

      <h3 id='34-header' data-toggle='collapse' data-target='#34'>3.4 Tournament Error - Decklist Problem</h3>

      <div id='34' class='collapse'>
        <h4>Game Loss</h4>

        <h5>Definition</h5>

        <p>The decklist is illegal, doesn’t match what the player intended to play, or needs to be modified 
              due to card loss over the course of the tournament.</p>

        <p>This infraction does not cover errors in registration made by another participant prior to a sealed 
              pool swap. Those should be corrected at the discretion of the judge.</p>

        <h5>Examples</h5>

        <ol>
           <li>A player in a Legacy tournament lists Mana Drain (a banned card) on their decklist.</li>
           <li>A player has a 56-card decklist. Their actual deck contains 60 cards, with four Dispels 
                  not listed.</li>
           <li>A player lists ‘Sarkhan’ in a format with both Sarkhan, the Dragonspeaker and Sarkhan 
                  Unbroken.</li>
           <li>A player loses some cards and is unable to find replacement copies, making them unable 
                  to play a deck that matches their decklist.</li>
           <li>A player registers Ajani, Valiant Protector, but they are playing Ajani Unyielding.</li>
        </ol>

        <h5>Philosophy</h5>

        <p>Decklists are used to ensure that decks are not altered in the course of a tournament. Judges and 
              other tournament officials should be vigilant about reminding players before the tournament begins of 
              the importance of submitting a legal decklist, and playing with a legal deck. A player 
              normally receives a Game Loss if their decklist is altered after tournament play has begun.</p>

        <p>Penalties for decklist errors discovered outside the context of the match and its procedures (such 
              as those discovered through decklist counting) are issued at the start of the next match unless the 
              judge believes there is strong evidence the deck itself is illegal.</p>

        <p>Ambiguous or unclear names on a decklist may allow a player to manipulate the contents of their 
              deck up until the point at which they are discovered. Truncated names of storyline characters on 
              decklists (<span class='removed'>legendary permanents and planeswalkers</span> 
              <span class='new'>planeswalkers and other legendary permanents</span>) are acceptable as long as they are the 
              only representation of that character in the format and are treated as referring to that card, even if 
              other cards begin with the same name.</p>

        <p>The Head Judge may choose to not issue this penalty if they believe that what the player wrote 
              on their decklist is obvious and unambiguous, even if it is not the full, accurate name of the card. 
              In Limited tournaments, the Head Judge may choose not to issue this penalty for incorrectly 
              marked basic land counts if they believe the correct land count is obvious. This should be 
              determined solely by what is written on the decklist, and not based on intent or the actual 
              contents of the deck; needing to check the deck for confirmation is a sign that the entry is not 
              obvious.</p>

        <h5>Additional Remedy</h5>

        <p>If the decklist contains illegal cards, remove them.</p>

        <p>Alter the decklist to match the deck the player is actually playing. If the deck/sideboard and 
              decklist both violate a maximum cards restriction (usually too many cards in a sideboard 
              <span class='removed'>or</span> <span class='new'>,</span> more 
              than four of a card<span class='removed'>), remove cards starting from the bottom of the 
              appropriate section of the list or lists.</span> <span class='new'>, or the same card in two 
              decks in a Unified Constructed format), remove cards as directed by the player to make the 
              decklist legal.</span></p>

        <p>If the deck contains too few cards, the player chooses to add any combination of cards named 
              Plains, Island, Swamp, Mountain or Forest to reach the minimum number. Alter the decklist to 
              reflect this. These changes may be reverted without penalty if the player is subsequently able to 
              locate identical replacements to legal original cards.</p>
      </div>

      <hr>

      <h3 id='35-header' data-toggle='collapse' data-target='#35'>3.5 Tournament Error - Deck Problem</h3>

      <div id='35' class='collapse'>
        <h4>Warning</h4>

        <h5>Definition</h5>

        <p>The contents of a deck or sideboard do not match the decklist registered and the decklist 
              represents what the player intended to play.</p>

        <p>If there are extra cards stored with the sideboard that could conceivably be played in the player’s 
              deck, they will be considered a part of the sideboard unless they are:</p>

        <ul>
          <li>Promotional cards that have been handed out as part of the tournament.</li>
          <li>Double-faced cards represented by checklist cards in the deck.</li> 
          <li>Double-faced cards being used to represent the back side of cards in the deck. These 
                  cards must not be sleeved in the same way as cards in the main deck and/or sideboard.</li>
        </ul>

        <p>Cards in different sleeves, tokens, and double-faced cards for which checklists are being used are 
              ignored when determining deck (not sideboard) legality.</p>

        <p>If a player is unable to locate cards (or identical equivalents) from their main deck, treat it as a 
              Decklist Problem. If sideboard cards are missing, make a note of this, but issue no penalty.</p>

        <h5>Examples</h5>

        <ol>
          <li>A player has 59 cards in their deck, but 60 listed on their decklist.</li>
          <li>A player has a Pacifism in their deck from a previous opponent.</li>
          <li>In game one of a match, A player has Pithing Needle in their deck, but only has one 
                  registered in their sideboard.</li>
        </ol>

        <h5>Philosophy</h5>

        <p>Players are expected to call attention to deck errors immediately, and not gain any potential 
                advantage from having the cards in their deck.</p>

        <p>The most common forms of deck error are failure to desideboard and having a card in the wrong 
              deck. Both of these are difficult to gain advantage from without obvious cheating. Denying them 
              the card that they would otherwise be working with is sufficient to compensate for the easily 
              discovered situations. Duplicates of cards that begin in the main deck are more problematic, as 
              they are not as easy to realize and catch, and thus mandate an upgraded penalty.</p>

        <p>A window in which the error is a Game Loss is necessary to discourage intentional abuse. Once 
              that point has passed, the opponent agrees that the deck is valid. Judges should always be 
              mindful of the abuse possibilities when investigating these infractions.</p>

        <h5>Additional Remedy</h5>

        <p>Remove any incorrect cards from the deck, including any sideboard cards that could not yet 
              legally have been added. Locate any cards missing from the deck and shuffle them into the 
              randomized portion of the deck. If the missing card(s) are with the sideboard and it isn’t the first 
              game, choose the ones to be shuffled into the deck at random from all sideboard cards. If the 
              error is discovered during opening hands, instruct the player to mulligan. Otherwise, do not 
              replace discovered erroneous cards in hands or other sets (such as a group of cards being scried 
              or drawn).</p>

        <p>If the missing card(s) were in a previous or current opponent’s deck, issue penalties to both 
              players.</p>

        <h5>Upgrade</h5>

        <ul>
          <li>If the deck or sideboard is discovered to be incorrect while presented to the opponent 
                  for pre-game shuffling, and the missing cards are not in the opponent’s deck, the penalty is a 
                  Game Loss.</li> 
          <li>If an incorrect card in the deck or hand becomes visible to an opponent (for example 
                  due to it being revealed or put into a graveyard) or is discovered by a judge during a deckcheck, 
                  the penalty is a Game Loss. This upgrade still applies if the player calls a judge with an effect on 
                  the stack or resolving that might cause the card to become visible.</li>
          <li>If an error resulted in more copies of a main deck card being played than were 
                  registered and this was discovered after the game had begun, the penalty is a Game Loss unless 
                  all copies of the card are still in the random portion of the library. For example if the decklist has 
                  two copies of Shock in the main deck and two in the sideboard, but <span class='removed'>there are three</span> 
                  <span class='new'>a search finds two</span> copies of Shock in the library <span class='new'>with another 
                  already in the graveyard</span>, the penalty is upgraded.</li>
        </ul>
      </div>

      <hr>

      <h3 id='36-header' data-toggle='collapse' data-target='#36'>3.6 Tournament Error - Limited Procedure Violation</h3>

      <div id='36' class='collapse'>
        <h4>Warning</h4>

        <h5>Definition</h5>

        <p>A player commits a technical error during a draft.</p>

        <h5>Examples</h5>

        <ol>
           <li>A player passes a booster to their left when it is supposed to go to their right.</li>
           <li>A player exceeds the amount of time allotted for a draft pick.</li>
           <li>A player puts a card on top of their draft pile, then pulls it back.</li>
        </ol>

        <h5>Philosophy</h5>

        <p>Errors in draft are disruptive and may become more so if they are not caught quickly.</p>

        <p>Announcements prior to the draft or the specific tournament rules for the format may specify 
              additional penalties for Limited Procedure Violations.</p>
      </div>

      <hr>

      <h3 id='37-header' data-toggle='collapse' data-target='#37'>3.7 Tournament Error - Communication Policy Violation</h3>

      <div id='37' class='collapse'>
        <h4>Warning</h4>

        <h5>Definition</h5>

        <p>A player violates the Communication policies detailed in section 4 of the Magic Tournament 
              Rules and the judge believes their opponent has acted or clearly chosen not to act based on the 
              erroneous information. This infraction only applies to violations of that policy and not to general 
              communication confusion.</p>

        <h5>Examples</h5>

        <ol>
          <li>A player is asked how many cards they have in their hand and answers “Three.” A few 
                  moments later, their opponent casts a discard spell and they realize that they have four.</li> 
          <li>A player keeps their Llanowar Elf in with their land, and their opponent attacks thinking 
                  they have no blockers. </li>
           <li>A player casts Path to Exile, and forgets to remind their opponent that they have the 
                  opportunity to search for a basic land.</li>
        </ol>

        <h5>Philosophy</h5>

        <p>Clear communication is essential when playing Magic. Though many offenses will be 
              intentional, it is possible for a player to make a genuine mistake that causes confusion and these 
              should not be penalized harshly.</p> 

        <p>A player may commit this infraction in situations where they have not spoken. A physically 
              ambiguous board state is not automatically a penalty, but judges are encouraged to tell players to 
              fix ambiguous placements before they might become problematic.</p>

        <p>Misapplication of a shortcut is usually not a Player Communication Violation, as the default 
              interpretation applies in ambiguous situations and the opponent is able to act on that shortcut. 
              Any deviation from a tournament shortcut requires a clear explanation.</p>

        <h5>Additional Remedy</h5>

        <p>A backup may be considered to the point of the action, not the erroneous communication.</p>
      </div>

      <hr>

      <h3 id='38-header' data-toggle='collapse' data-target='#38'>3.8 Tournament Error - Marked Cards</h3>

      <div id='38' class='collapse'>
        <h4>Warning</h4>
        
        <h5>Definition</h5>

        <p>Cards or sleeves in a player’s deck have inconsistencies on them that might allow them to be 
              differentiated from each other while in the library. This includes scuff marks, nail marks, 
              discoloration, bent corners and curving from foils.</p>

        <h5>Examples</h5>

        <ol>
           <li>A player has small marks on a few of their sleeves. The markings are on a Mountain, a 
                  Loxodon Hierarch, and a Lightning Helix.</li>  
           <li>A player has several foil cards that stand out significantly from the rest of their deck.</li> 
           <li>The basic lands in a player’s unsleeved deck are from a set with notably lighter backs.</li> 
        </ol>

        <h5>Philosophy</h5>

        <p>Sleeves and cards often become worn over the course of a tournament, and, as long as the player 
              is not attempting to take advantage of this, addressing the situation is sufficient in most cases. 
              Note that almost all sleeves can be considered marked in some way; judges should keep this in 
              mind when determining penalties. In cases of marked cards, educating players to shuffle their 
              cards and sleeves before sleeving the cards is very important.</p>

        <p>This infraction applies only to cards in a player’s deck. Differently-marked sleeves in the 
              sideboard are not illegal unless they are put into the deck without being changed. Unless 
              investigating, judges are encouraged to alert players about concerns with marked sideboard 
              cards.</p>

        <h5>Additional Remedy</h5>

        <p>The player needs to replace the card(s) or sleeve(s) with an unmarked version or, if no sleeves 
              are being used, use sleeves that conceal the markings. If the cards themselves have become 
              marked through play in the tournament, the Head Judge may decide to issue a proxy.</p>

        <h5>Upgrade</h5>

        <ul>
          <li>If the player is unable to find replacement cards, they may replace those cards with 
                  any combination of cards named Plains, Island, Swamp, Mountain or Forest. As the decklist is 
                  being changed to match the new contents of the deck, the penalty is a Game Loss. This change 
                  may be reverted at a later point without further penalty if replacements for marked cards are 
                  found.</li>
            
          <li>If the Head Judge believes that a deck’s owner noticing the pattern of markings would 
                  be able to gain substantial advantage from this knowledge, the penalty is a Game Loss.</li>
        </ul>
      </div>

      <hr>

      <h3 id='39-header' data-toggle='collapse' data-target='#39'>3.9 Tournament Error - Insufficient Shuffling</h3>

      <div id='39' class='collapse'>
        <h4>Warning</h4>

        <h5>Definition</h5>

        <p>A player unintentionally fails to sufficiently shuffle their deck or a portion of their deck before 
                presenting it to their opponent, or fails to present it to their opponent for further randomization. 
                A deck is not shuffled if the judge believes a player could know the position or distribution of 
                one or more cards in their deck.</p>

        <h5>Examples</h5>

        <ol>
          <li>A player forgets to shuffle their library after searching for a card.</li>
          <li>A player searches for a card, then gives the library a single riffle-shuffle before 
                  presenting the library to their opponent.</li>
          <li>A player fails to shuffle the portion of their library revealed during the resolution of a 
                  cascade ability.</li>
        </ol>

        <h5>Philosophy</h5>

        <p>Players are expected to shuffle their deck thoroughly when it is required and are expected to have 
              the skill and understanding of randomization to do so. However, as the opponent has the 
              opportunity to shuffle after the player does, the potential for advantage is lowered if tournament 
              policy is followed.</p>
         
        <p>Any time cards in a deck could be seen, including during shuffling, it is no longer shuffled, even 
              if the player only knows the position of one or two cards. Players are expected to take care in 
              shuffling not to reveal cards to themselves, their teammates, or their opponents.</p>
         
        <p>A player should shuffle their deck using multiple methods. Patterned pile-shuffling is only 
              allowed at the start of a game. Any manipulation, weaving, or stacking prior to randomization is 
              acceptable, as long as the deck is thoroughly shuffled afterwards.</p>

        <h5>Additional Remedy</h5>

        <p>Shuffle the <span class='removed'>random</span> <span class='new'>appropriate</span> portion of 
              the deck thoroughly.</p>
      </div>

      <hr>

      <h3 id='4-header' data-toggle='collapse' data-target='#4'>4. Unsporting Conduct</h3>

      <div id='4' class='collapse'>
        <p>Unsporting conduct is disruptive behavior that may affect the safety, competitiveness, 
              enjoyment, or integrity of a tournament in a significantly negative fashion.</p>

        <p>Unsporting behavior is not the same as a lack of sporting behavior. There is a wide middle 
              ground of “competitive” behavior that is certainly neither “nice” nor “sporting” but still doesn’t 
              qualify as “unsporting.” The Head Judge is the final arbiter on what constitutes unsporting 
              conduct.</p>

        <p>Judges should inform the player how their conduct is disruptive. The player is expected to 
              correct the situation and behavior immediately. However, while making sure that the player 
              understands the severity of their actions is important, judges should focus first on calming a 
              situation, and deal with infractions and penalties afterwards.</p>
      </div>

      <hr>

      <h3 id='41-header' data-toggle='collapse' data-target='#41'>4.1 Unsporting Conduct - Minor</h3>

      <div id='41' class='collapse'>
        <h4>Warning</h4>

        <h5>Definition</h5>

        <p>A player takes action that is disruptive to the tournament or its participants. It may affect the 
              comfort level of those around the individual, but determining whether this is the case is not 
              required.</p>

        <h5>Examples</h5>

        <ol>
            <li>A player uses excessively vulgar and profane language.</li>
            <li>A player inappropriately demands to a judge that their opponent receive a penalty.</li>
            <li>A player appeals to the Head Judge before waiting for the floor judge to issue a ruling.</li>
            <li>A player throws their deck on the ground after losing a game.</li>
            <li>A player leaves excessive trash in the play area after leaving the table.</li>
            <li>A player fails to follow the request of a tournament official to leave the play area.</li>
        </ol>

        <h5>Philosophy</h5>

        <p>All participants should expect a safe and enjoyable environment at a tournament, and a player 
              needs to be made aware if their behavior is unacceptable so that this environment may be 
              maintained.</p>

        <h5>Additional Remedy</h5>

        <p>The player must correct the problem immediately. Subsequent Unsporting Conduct — Minor 
              infractions, even for different offenses, will result in a Game Loss. If a Game Loss is issued for 
              repeated infractions, and it occurs at the end of a game, it is acceptable for the judge to apply the 
              penalty to the next game instead.</p>
      </div>

      <hr>

      <h3 id='42-header' data-toggle='collapse' data-target='#42'>4.2 Unsporting Conduct - Major</h3>

      <div id='42' class='collapse'>
        <h4>Match Loss</h4>

        <h5>Definition</h5>

        <p>A player takes action towards one or more individuals that could reasonably be expected to 
              create a feeling of being harassed, threatened, bullied, or stalked. This may include insults based 
              on race, color, religion, national origin, age, gender, disability, or sexual orientation. Threats of 
              physical violence should be treated as Unsporting Conduct – Aggressive Behavior.</p>

        <p>It is possible for an offender to commit this infraction without intending malice or harm to the 
              subject of the harassment.</p>
  
        <h5>Examples</h5>

        <ol>
           <li>A player uses a racial slur against their opponent.</li>
           <li>A player takes inappropriate photos of another player without express permission.</li>
           <li>A player asks a spectator for a date, is denied, and continues to press the issue.</li>
           <li>A player purposefully obstructs another player with the intent of inducing physical 
                  contact.</li>
           <li>A spectator uses social media to bully another player.</li>
        </ol>

        <h5>Philosophy</h5>

        <p>A safe environment is a basic expectation of any tournament attendee. Harassment undermines 
              the safety and integrity of a tournament. Players who purposefully create harmful or 
              unwelcoming situations in a tournament are expected to immediately correct the behavior and 
              demonstrate remorse or be removed.</p>

        <p>Because of the confrontational nature of this infraction, judges need to end any match in progress 
              and separate the players. Care should be taken not to escalate the situation if at all possible. The 
              offender will be removed from the area to receive the penalty, and education about why the 
              behavior is unacceptable regardless of excuse. They may need a few moments to cool down 
              afterwards. Apologizing is encouraged, but the desire of the other individuals to not interact with 
              their harasser must be respected.</p>

        <p>Officials must investigate these matters as soon as they are brought to their attention. If they 
              determine that the infraction does not meet the criteria for Unsporting Conduct – Major, it is still 
              recommended that the players be talked to to avoid future misunderstandings.</p>

        <h5>Additional Remedy</h5>

        <p>The player must correct the behavior immediately. If the offense occurs at the end of a match, it 
              is acceptable for the judge to apply the penalty to the next match instead.</p>

        <h5>Upgrade</h5>

        <p>If the offense was committed with malicious intent, the player displays no remorse, or 
              the offense is repeated at a later time, the penalty is Disqualification and removal from the venue.</p>
      </div>

      <hr>

      <h3 id='43-header' data-toggle='collapse' data-target='#43'>4.3 Unsporting Conduct - Improperly Determining a Winner</h3>

      <div id='43' class='collapse'>
        <h4>Disqualification</h4>

        <h5>Definition</h5>

        <p>A player uses or offers to use a method that is not part of the current game (including actions not 
              legal in the current game) to determine the outcome of a game or match.</p>

        A player who receives an offer and does not immediately contact a tournament official is 
        considered complicit in the offer and will receive the same penalty.

        <h5>Examples</h5>

        <ol>
          <li>As time is called, two players about to draw roll a die to determine the winner.</li>
          <li>A player offers to flip a coin to determine the winner of a match.</li>
          <li>Two players arm wrestle to determine the winner of the match.</li>
          <li>Two players play rock-paper-scissors to decide if they should play the match or draw.</li>
          <li>Two players compare the converted mana costs of the top cards of their libraries to 
                  determine the winner of a game at the end of extra turns.</li>
          <li>Two players reveal cards from the top of their libraries to see “who would win” after 
                  extra turns.</li>
        </ol>

        <h5>Philosophy</h5>

        <p>Using an outside-the-game method to determine a winner compromises the integrity of the 
              tournament.</p>

        <p>Matches that result in a draw due to time are expected to be reported as such and are not 
              excluded from this penalty if the players use an illegal method to determine the outcome.</p>
      </div>

      <hr>

      <h3 id='44-header' data-toggle='collapse' data-target='#44'>4.4 Unsporting Conduct - Bribery and Wagering</h3>

      <div id='44' class='collapse'>
        <h4>Disqualification</h4>

        <h5>Definition</h5>

        <p>A player offers an incentive to entice an opponent into conceding, drawing, or changing the 
              results of a match, or accepts such an offer. Refer to section 5.2 of the Magic Tournament Rules 
              for a more detailed description of what constitutes bribery.</p>

        <p>Wagering occurs when a player or spectator at a tournament places or offers to place a bet on the 
              outcome of a tournament, match or any portion of a tournament or match. The wager does not 
              need to be monetary, nor is it relevant if a player is not betting on their own match.</p>

        <p>A player who receives an offer and does not immediately contact a tournament official is 
              considered complicit in the offer and will receive the same penalty.</p>

        <h5>Examples</h5>

        <ol>
            <li>A player in a Swiss round offers their opponent $100 to concede the match.</li>
            <li>A player offers their opponent a card in exchange for a draw.</li>
            <li>A player asks for a concession in exchange for a prize split.</li>
            <li>Two players agree that the winner of the match will be able to choose a rare card out of 
                    the other person’s deck after the match.</li>
            <li>Two spectators place a bet on the number of games that will be needed to decide a match.</li>
        </ol>

        <h5>Philosophy</h5>

        <p>Bribery and wagering disrupt the integrity of the tournament and are strictly forbidden.</p>
      </div>

      <hr>

      <h3 id='45-header' data-toggle='collapse' data-target='#45'>4.5 Unsporting Conduct - Aggressive Behavior</h3>

      <div id='45' class='collapse'>
        <h4>Disqualification</h4>

        <h5>Definition</h5>

        A player acts in a threatening way towards others or their property.

        <h5>Examples</h5>

        <ol>
          <li>A player threatens to hit another player who won’t concede to <span class='removed'>him</span> 
                  <span class='new'>them</span>.</li>
          <li>A player pulls a chair out from under another player, causing <span class='removed'>their</span> 
                  <span class='new'>them</span> to fall to the ground.
          <li>A player makes threats against a judge after receiving a ruling.</li>
          <li>A player tears up a card belonging to another player.</li>
          <li>A player intentionally turns over a table.</li>
        </ol>

        <h5>Philosophy</h5>

        <p>The safety of all people at a tournament is of paramount importance. There will be no tolerance 
              of physical abuse or intimidation.</p>

        <h5>Additional Remedy</h5>

        <p>The offender should be asked to leave the venue by the organizer.</p>
      </div>

      <hr>

      <h3 id='46-header' data-toggle='collapse' data-target='#46'>4.6 Unsporting Conduct - Theft of Tournament Material</h3>

      <div id='46' class='collapse'>
        <h4>Disqualification</h4>

        <h5>Definition</h5>

        <p>A player steals materials from the tournament, including but not limited to cards or tournament 
                equipment.</p>

        <h5>Examples</h5>

        <ol>
          <li>A player steals cards from the sideboard of their opponent.</li>
          <li>A player steals the table number from a table.</li>
          <li>A player realizes they have a previous opponent’s card, but they hide it instead of telling 
                  a tournament official.</li>
        </ol>

        <h5>Philosophy</h5>

        <p>Players enter a tournament expecting that their materials will be protected. This does not absolve 
              the players from their responsibility to keep an eye on their possessions, but they should expect 
              to be able to retain the product they began with or were given for the tournament. Other instances 
              of theft not involving tournament materials are the responsibility of the Tournament Organizer, 
              though judges are encouraged to help in any way possible.</p>

        <h5>Additional Remedy</h5>

        <p>The offender should be asked to leave the venue by the organizer.</p>
      </div>

      <hr>

      <h3 id='47-header' data-toggle='collapse' data-target='#47'>4.7 Unsporting Conduct - Stalling</h3>

      <div id='47' class='collapse'>
        <h4>Disqualification</h4>

        <h5>Definition</h5>

        A player intentionally plays slowly in order to take advantage of the time limit. If the slow play 
        is not intentional, please refer to Tournament Error — Slow Play instead. 

        <h5>Examples</h5>

        <ol>
            <li>A player has two lands in their hand, no options available to significantly affect the game, 
                      and spends excessive time “thinking” about what to do to eat up time on the clock.</li>
            <li>A player is ahead in games and significantly slows down their pace of play so the 
                      opponent has little chance to catch up.</li>
            <li>A player playing slowly appeals a warning in an attempt to gain advantage by having 
                      more time to make a decision.</li>
            <li>A player intentionally mulligans slowly before the third game in an attempt to make it 
                      harder for their opponent to win in time.</li>
            <li>A player losing a game starts slowing down the pace of play in an attempt to run out the 
                      clock.</li>
        </ol>
      </div>

      <hr>

      <h3 id='48-header' data-toggle='collapse' data-target='#48'>4.8 Unsporting Conduct - Cheating</h3>

      <div id='48' class='collapse'>
        <h4>Disqualification</h4>

        <h5>Definition</h5>

        <p>A person breaks a rule defined by the tournament documents, lies to a tournament official, or 
              notices an offense committed in their (or a teammate's) match and does not call attention to it.</p>

        <p>Additionally, the offense must meet the following criteria for it to be considered Cheating:</p>

        <ul>
          <li>The player must be attempting to gain advantage from their action.</li>
          <li>The player must be aware that they are doing something illegal.</li>
        </ul>

        <p>If all criteria are not met, the offense is not Cheating and is handled by a different infraction. 
              Cheating will often appear on the surface as a Game Play Error or Tournament Error, and must 
              be investigated by the judge to make a determination of intent and awareness.</p>

        <h5>Examples</h5>

        <ol>
          <li>A player alters the results on a match slip without their opponent’s knowledge.</li>
          <li>A player lies to a tournament official about what happened in a game to make their case 
                  stronger.</li>
          <li>A player allows their opponent to put a creature into the graveyard even though the 
                  creature has not been dealt lethal damage.</li>
          <li>A player notices that their opponent resolved only half of the triggered ability of Sword 
                  of Feast and Famine and decides not to call attention to the error.</li>
          <li>A player peeks at another player’s picks during the draft.</li>
          <li>A player adds cards to their Sealed Deck pool.</li>
          <li>A player realizes they have accidentally drawn an extra card, then fails to call a judge in 
                  order to avoid a penalty.</li>
         </ol>
      </div>

    </div>
  </body>
</html>