<!DOCTYPE html>
  <head>
    <% include ../partials/head %>
  </head>

  <header>
    <% include ../partials/header %>
    <link href="/public/assets/stylesheets/supportpages.css" rel="stylesheet"/>
  </header>

  <body>
    <div class='container-fluid'>
      <p class='error-big text-center'>Venser wondered if it could still be called a teleportation spell if the destination is <span class='spooky'>oblivion</span>.<br><span class='error-small'>An error has been dispatched to our logs.</p>

      
    </div>
  </body>
</html>