<!DOCTYPE html>
  <head>
    <% include ../partials/head %>
  </head>

  <header>
    <% include ../partials/header %>
    <link href="/public/assets/stylesheets/supportpages.css" rel="stylesheet"/>
  </header>

  <body>
    <div class='container-fluid'>
      <div class='offset text-center'>
        <p>This site is maintained by <b>Andrew Villarrubia</b>. The CR diffs used to be <a href='https://yawgatog.com/'>Yawgatog's</a> project, but they stopped with Ixalan; I'm picking it up with their blessing.

        <p>If you find a bug, I would <b>strongly</b> prefer you open an issue on <a href='https://github.com/Villawhatever/VensersJournal/issues'>Github</a>.</p>

        <p>Otherwise -- for suggestions, more general feedback, etc -- reach out on Twitter <a href='https://twitter.com/villawhatever'>@villawhatever</a>, IRC (Volo on EFNet and freenode), or e-mail me through JudgeApps.

        </p>
        <hr>
        <p>This site is in no way affiliated with Wizards of the Coast or any of its properties.</p>
      </div>
    </div>

  </body>
</html>
