<!DOCTYPE html>
  <head>
    <% include ../partials/head %>
  </head>

  <header>
    <% include ../partials/header %>
    <link href="/public/assets/stylesheets/supportpages.css" rel="stylesheet"/>
  </header>
    <div class='container-fluid'>
      <div class='offset'>
        <h3 class='text-center'>Old CR Diffs</h3>
        <p>These pick up right where <a href='https://yawgatog.com/resources/rules-changes/'>Yawgatog</a>'s
              diffs left off, starting with Ixalan -> Rivals of Ixalan and going from there. If an update bulletin exists, it's linked alongside.</p>
        <ul>
          <li>
            <a href='/M19-GRN' class='set-heading'>Guilds of Ravnica</a>
            [<a href='https://magic.wizards.com/en/articles/archive/news/guilds-ravnica-update-bulletin-2018-09-28'>update bulletin</a>]
          </li>

          <li>
            <a href='/BBD-M19' class='set-heading'>Magic Core 2019</a>
            [<a href='https://magic.wizards.com/en/articles/archive/news/core-set-2019-update-bulletin-2018-07-06'>update bulletin</a>]
          </li>
          <li>
            <a href='/DOM-BBD' class='set-heading'>Battlebond</a>
          </li>
          <li>
            <a href='/RIX-DOM' class='set-heading'>Dominaria</a>
            [<a href='https://magic.wizards.com/en/articles/archive/news/dominaria-update-bulletin-2018-04-13'>update bulletin</a>]
          </li>
          <li>
            <a href='/XLN-RIX' class='set-heading'>Rivals of Ixalan</a>
            [<a href='https://magic.wizards.com/en/articles/archive/news/rivals-ixalan-update-bulletin-2018-01-11'>update bulletin</a>]
          </li>
        </ul>
        
        <hr>

        <h3 class='text-center'>Raw Documents</h3>
        <p class='text-center'>Not interested in the changes and just want the docs in their pure, unadulterated forms? Look no further.</p>
        <ul>
          <li>
            <p>Guilds of Ravnica
              <a href='static/Guilds of Ravnica (GRN).txt' target='_blank'>Rules</a> |
              <a href='static/mtg_ipg_5oct18_en.pdf' target='_blank'>IPG</a> |
              <a href='static/mtg_mtr_5oct18_en.pdf' target='_blank'>MTR</a>
            </p>
          </li>
          <li>
            <p>Magic Core Set 2019
              <a href='static/Magic Core 2019 (M19).txt' target='_blank'>Rules</a> |
              <a href='static/mtg_ipg_13jul18_en.pdf' target='_blank'>IPG</a> |
              <a href='static/mtg_mtr_13jul18_en.pdf' target='_blank'>MTR</a>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
