<!DOCTYPE html>
  <head>
    <% include ../partials/head %>
    
  </head>

  <header>
    <% include ../partials/header %>
    <link href="/public/assets/stylesheets/supportpages.css" rel="stylesheet"/>
    <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" /> 
  </header>
  <body>
    <div class='container-fluid text-center'>
      <div class='offset'>
        <h2>Old Diffs</h2>
        <p>Previous diffs of the various docs. These are mostly preserved for people who are interested in tracing the history of the tournament docs.</p>
        <div class='row'>
          <div class='col-md-4'>
            <h3>CR</h3>
            <p>
              <a href='M20-C19'>Commander 2019</a>
            </p>
            <p>
              <a href='MH1-M20'>Core Set 2020</a>
              [<a href='https://magic.wizards.com/en/articles/archive/news/core-set-2020-update-bulletin-2019-07-03'>update bulletin</a>]
            </p>
            <p>
              <a href='/WAR-MH1'>Modern Horizons</a>
            </p>
            <p>
              <a href='/RNA-WAR'>War of the Spark</a>
              [<a href='https://magic.wizards.com/en/articles/archive/news/war-spark-update-bulletin-2019-04-25'>update bulletin</a>]
            </p>
            <p>
              <a href='/GRN-RNA'>Ravnica Allegiance</a>
              [<a href='https://magic.wizards.com/en/articles/archive/news/ravnica-allegiance-update-bulletin-2019-01-22'>update bulletin</a>]
            </p>
            <p>
              <a href='/M19-GRN'>Guilds of Ravnica</a>
              [<a href='https://magic.wizards.com/en/articles/archive/news/guilds-ravnica-update-bulletin-2018-09-28'>update bulletin</a>]
            </p>
            <p>
              <a href='/BBD-M19'>Magic Core 2019</a>
              [<a href='https://magic.wizards.com/en/articles/archive/news/core-set-2019-update-bulletin-2018-07-06'>update bulletin</a>]
            </p>
            <p>
              <a href='/DOM-BBD'>Battlebond</a>
            </p>
            <p>
              <a href='/RIX-DOM'>Dominaria</a>
              [<a href='https://magic.wizards.com/en/articles/archive/news/dominaria-update-bulletin-2018-04-13'>update bulletin</a>]
            </p>
            <p>
              <a href='/XLN-RIX'>Rivals of Ixalan</a>
              [<a href='https://magic.wizards.com/en/articles/archive/news/rivals-ixalan-update-bulletin-2018-01-11'>update bulletin</a>]
            </p>
          </div>

          <div class='col-md-4'>
            <h3>IPG</h3>
            <p><a href='/archives/ipg_12jul19'>Core Set 2020</a></p>
            <p><a href='/archives/ipg_3may19'>War of the Spark</a></p>
            <p><a href='/archives/ipg_21jan19'>Ravnica Allegiance</a></p>
            <p><a href='/archives/ipg_5oct18'>Guilds of Ravnica</a></p>
          </div>

          <div class='col-md-4'>
            <h3>MTR</h3>
            <p><a href='/archives/mtr_12jul19'>Core Set 2020</a></p>
            <p><a href='/archives/mtr_3may19'>War of the Spark</a></p>
            <p><a href='/archives/mtr_21jan19'>Ravnica Allegiance</a></p>
            <p><a href='/archives/mtr_5oct18'>Guilds of Ravnica</a></p>
          </div>
        </div>
        
        <hr>

        <h2>Raw Documents</h2>
        <p>Not interested in the changes and just want the docs in their pure, unadulterated forms? Look no further.</p>

        <div class='row'>
          <div class='col-md-12 text-center'>
            <ul class='nav nav-tabs nav-justified' role='tablist'>
          <li class='nav-item'>
            <a class='nav-link active' data-toggle='tab' href='#CR'>CR</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' data-toggle='tab' href='#IPG'>IPG</a>
          </li>
          <li class='nav-item'>
            <a class='nav-link' data-toggle='tab' href='#MTR'>MTR</a>
          </li>
        </ul>
        <div class='tab-content'>
          <div id='CR' class='container tab-pane active'>
            <% include ../partials/archives_cr %>
          </div>
          <div id='IPG' class='container tab-pane fade'>
            <% include ../partials/archives_ipg %>
          </div>
          <div id='MTR' class='container tab-pane fade'>
            <% include ../partials/archives_mtr %>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
