<!DOCTYPE html>
  <head>
    <% include ../partials/head %>
    
  </head>

  <header>
    <% include ../partials/header %>
    <link href="/public/assets/stylesheets/supportpages.css" rel="stylesheet"/>
  </header>
  <body>
    <div class='container-fluid text-center'>
      <div class='offset'>
        <h2>Old Diffs</h2>
        <p>Previous diffs of the various docs. These are mostly preserved for people who are interested in tracing the history of the tournament docs.</p>
        <div class='row'>
          <div class='col-md-4'>
            <h3>CR</h3>
            <p>
              <a href='/M19-GRN'>Guilds of Ravnica</a>
              [<a href='https://magic.wizards.com/en/articles/archive/news/guilds-ravnica-update-bulletin-2018-09-28'>update bulletin</a>]
            </p>
            <p>
              <a href='/BBD-M19'>Magic Core 2019</a>
              [<a href='https://magic.wizards.com/en/articles/archive/news/core-set-2019-update-bulletin-2018-07-06'>update bulletin</a>]
            </p>
            <p>
              <a href='/DOM-BBD'>Battlebond</a>
            </p>
            <p>
              <a href='/RIX-DOM'>Dominaria</a>
              [<a href='https://magic.wizards.com/en/articles/archive/news/dominaria-update-bulletin-2018-04-13'>update bulletin</a>]
            </p>
            <p>
              <a href='/XLN-RIX'>Rivals of Ixalan</a>
              [<a href='https://magic.wizards.com/en/articles/archive/news/rivals-ixalan-update-bulletin-2018-01-11'>update bulletin</a>]
            </p>
          </div>

          <div class='col-md-4'>
            <h3>IPG</h3>
            <p><a href='/archives/ipg_21jan19'>Ravnica Allegiance</a></p>
            <p><a href='/archives/ipg_5oct18'>Guilds of Ravnica</a></p>
          </div>

          <div class='col-md-4'>
            <h3>MTR</h3>
            <p><a href='/archives/mtr_21jan19'>Ravnica Allegiance</a></p>
            <p><a href='/archives/mtr_5oct18'>Guilds of Ravnica</a></p>
          </div>
        </div>
        
        <hr>

        <h2>Raw Documents</h2>
        <p>Not interested in the changes and just want the docs in their pure, unadulterated forms? Look no further.</p>

        <div class='row'>
          <% include ../partials/archives_cr %>
          
          <% include ../partials/archives_ipg %>
            
          <% include ../partials/archives_mtr %>
        </div>
      </div>
    </div>
  </body>
</html>
