<!DOCTYPE html>
  <head>
    <% include ../partials/head %>
  </head>

  <header>
    <% include ../partials/header %>
    <link href="/public/assets/stylesheets/supportpages.css" rel="stylesheet"/>
  </header>
    <div class='container-fluid'>
      <div class='offset'>
        <h2 class='text-center'>Change Log</h2>
	<h3>4 May, 2019</h3>
	<p><b>1:15am CST</b> - Fixed the issue with the single quotes (which, uh, you can't see now, since it's fixed). Also fixed the trailing space highlighting, which was driving at least two people crazy.
	I changed another thing that only affected the parsing of three rules (for now). While they haven't been relevant <i>yet</i>, I'd rather cover the potential cases now instead of when it'd actually be 
	a matter of concern.</p>        
        <h3>3 May, 2019</h3>
        <p><b>12:00pm CST</b> - New CR! Yay! The editorial weirdness from RNA is 'fixed', and I've rewritten some of the parsing code to handle most of those snafus. Still having
        an issue figuring out what's up with the single quotes (you'll see what I mean, look at 603.4 for an example).</p>
        <p>In news that won't matter for most of you, the new CR is, in fact, served in glorious UTF-8, so we have to do significantly less very silly nonsense to parse it properly now. Rejoice!</p>
        <h3>29 April, 2019</h3>
          <p><b>3:30pm CST</b> - IPG and MTR diffs for 3 May 2019 (War of the Spark) are complete. The raw docs are uploaded to the archive. Still waiting on the Comp Rules,
          but hopefully those will be in-hand today.</p>
          <p>Also, as you may or may not have noticed (you probably have, since you're here) -- added a change log.</p>
        </div>
    </div>
  </body>
</html>
