<!DOCTYPE html>
  <head>
    <% include ../partials/head %>
  </head>

  <header>
    <% include ../partials/header %>
    <link href="/public/assets/stylesheets/supportpages.css" rel="stylesheet"/>
  </header>
    <div class='container-fluid'>
      <div class='offset'>
        <h2 class='text-center'>Change Log</h2>
        <h3>3 October, 2019</h3>
        <p><b>5:43pm CST</b> - It's been bugging me for a while now that when we added a new subtype, it brings up that whole giant block of rules. Like, there was just way too much stuff there, y'know? Well, I got around to compressing that.
          Now, the diff only shows types that were added. Technically, it will also show types that were removed, but that happens exceptionally rarely.</p>
        <h3>3 October, 2019</h3>
        <p><b>2:20pm CST</b> - Made some changes to rules! On the CR diff page, rule numbers now link to those rules' specific pages. Also, each rule now *has* a specific page, with examples included where they exist.</p>
        <p>Do note that the rules links are only active on the righthand side of the CR diff (the new rules).
        <h3>30 September, 2019</h3>
        <p><b>2:27pm CST</b> - IPG and MTR have been updated for Throne of Eldraine! There's nothing major, really. Basics are now drafted. That's something, I guess.</p>
        <p>Some small site changes. Going to a rules link that will never exist (like <a href=https://vensersjournal.com/123-ABC>https://vensersjournal.com/123-ABC</a>) tells you that link is no good. Going to one that <i>will</i> exist, like <a href=https://vensersjournal.com/C19-ELD>https://vensersjournal.com/C19-ELD</a>, now lets you know
        that it's gonna be there. Eventually. If a certain rules manager would gimme the goods.</p>
        <h3>20 August, 2019</h3>
        <p><b>9:21pm CST</b> - Had the updates up earlier this afternoon, but then had to fiddle with the rule-matching algorithm to cover Yet Another Edge Case (tm). Luckily,
        this new setup should be pretty extensible to cover other similar edge cases, so maybe I can go one new Comprehensive Rules update without needing to rewrite something.</p>
        <h3>21 July, 2019</h3>
        <p><b>3:52am CST</b> - Fiddled with the CR diff algorithm for a bit. First, the range on "oh you're the same rule, just moved" is now significantly larger, which means it takes a little longer to parse but also that it's really, 
          <i>really</i> good at figuring out where a rule is supposed to live. This handles all the new token stuff exceptionally well.</p>
        <p>Second, I hammered out a way to tell if the only change is "this rule reference got changed to another rule reference." If that's all that happened, the rule is ignored by the diff.</p>
        <h3>21 July, 2019</h3>
        <p><b>2:48am CST</b> - So, I picked up all these new files in the archive, but the old layout was getting Real Bad. I rearranged things.</p>
        <h3>20 July, 2019</h3>
        <p><b>10:54pm CST</b> - So, a bit ago Joe Klopchic sent me a link to Petr Hudeček's personal site, which archived a lot -- and I mean a <i>lot</i> -- of old docs. I've ported them over to here!</p>
        <h3>8 July, 2019</h3>
        <p><b>6:47pm CST</b> - M20 docs! The M20 rules have made it abundantly clear that I should probably rewrite my rules diff algorithm a bit to handle things that just... moved numbers. I mean, it's already there, kinda, but not for when things move far away from where they used to be. I'll add it to the list of Stuff I Have To Do.</p>
        <h3>13 June, 2019</h3>
        <p><b>6:20am CST</b> - Another set, another minor editorial bug I had to hunt down! Without delving into too much detail, basically 612.8 has something I've never had to account for before, but now
        I'm accounting for it, so it's showing up like it should be. Yay!</p>
        <h3>12 June, 2019</h3>
        <p><b>11:03pm CST</b> - Modern Horizons rules are... mostly up? There's some cute little bug somewhere that isn't letting me pick up the new 612.8, but it's a trivial rule that's also covered in more
        detail elsewhere, so this isn't something a sane person should care about; as far as you, sane person, are concerned, this does exactly what it's supposed to do! Now excuse me as I go agonize over
        what on earth is happening.</p>
      	<h3>4 May, 2019</h3>
      	<p><b>1:15am CST</b> - Fixed the issue with the single quotes (which, uh, you can't see now, since it's fixed). Also fixed the trailing space highlighting, which was driving at least two people crazy.
      	I changed another thing that only affected the parsing of three rules (for now). While they haven't been relevant <i>yet</i>, I'd rather cover the potential cases now instead of when it'd actually be 
      	a matter of concern.</p>        
        <h3>3 May, 2019</h3>
        <p><b>12:00pm CST</b> - New CR! Yay! The editorial weirdness from RNA is 'fixed', and I've rewritten some of the parsing code to handle most of those snafus. Still having
        an issue figuring out what's up with the single quotes (you'll see what I mean, look at 603.4 for an example).</p>
        <p>In news that won't matter for most of you, the new CR is, in fact, served in glorious UTF-8, so we have to do significantly less very silly nonsense to parse it properly now. Rejoice!</p>
        <h3>29 April, 2019</h3>
        <p><b>3:30pm CST</b> - IPG and MTR diffs for 3 May 2019 (War of the Spark) are complete. The raw docs are uploaded to the archive. Still waiting on the Comp Rules,
        but hopefully those will be in-hand today.</p>
        <p>Also, as you may or may not have noticed (you probably have, since you're here) -- added a change log.</p>
      </div>
    </div>
  </body>
</html>
