<!DOCTYPE html>
  <head>
    <% include ../partials/head %>
    
  </head>

  <header>
    <% include ../partials/header %>
    <link href="/public/assets/stylesheets/supportpages.css" rel="stylesheet"/>
    <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" /> 
  </header>
  <body>
    <div class='container-fluid text-center'>
      <div class='offset'>
        <h1>つ ◕_◕ ༽つgive RULES つ ◕_◕ ༽つ</h2>
        <p>This is a placeholder. I'm still waiting on the new Comprehensive Rules to come out. Soon!</p>
      </div>
    </div>
  </body>
</html>
