<!DOCTYPE html>
  <head>
    <% include ../partials/head %>
  </head>

  <header>
    <% include ../partials/header %>
    <link href="/public/assets/stylesheets/supportpages.css" rel="stylesheet"/>
  </header>
  <body>
    <div class='container-fluid'>
      <div class='offset text-center'>
        <p class='cursive'>"A Planeswalker's chronicle spans worlds and civilizations, each page a lifetime"</p>
        <hr>
        <p>Venser's Journal is a Magic: the Gathering knowledge portal. Its primary purpose is hosting diffs of the various Magic tournament documents, specifically the Comprehensive Rules, Tournament Rules, and Infraction Procedure Guide.</p>
        <p>The archives also house as many old versions of the docs as I can find.</p>
      </div>
    </div>
  </body>
</html>