<!DOCTYPE html>
  <head>
    <% include ../partials/head %>
  </head>

  <header>
    <% include ../partials/header %>
    <script type="text/javascript" src="/public/assets/scripts/rules.js" charset="utf-8"></script>
  </header>

  <body onload="getDiffedRules()">
    <div class='container-fluid'>
      <table>
        <tr>
          <th id="oldHeader">
          </th>
          <th id="newHeader">
          </th>
        </tr>
      </table>
    </div>
  </body>
</html>